<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "InetBankingv1">

<test name = "BankingApp test">
	<parameter name="browser" value="chrome"/>
		<classes>
			<class name = "com.inetBankingv1.testCases.TC_LoginTest_01"/>
		</classes>
	</test>
	
</suite>